<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
  xmlns="http://java.sun.com/xml/ns/j2ee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
      metadata-complete="true">

  <display-name>vaadin-spring</display-name>
  
  <!-- Turn off productionMode (off by default). Setting productionMode=true disables 
       debug features. In when this is off, you can show debug window by adding ?debug to 
       your application URL. Always set this true in production environment. -->
  <context-param>
    <param-name>productionMode</param-name>
    <param-value>false</param-value>
    <description>Vaadin production mode</description>
  </context-param>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext.xml</param-value>
  </context-param>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>vaadin-spring</servlet-name>
    <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.practice.vaadin_spring.VaadinSpringDemoApplication</param-value>
      <description>Vaadin application class to start</description>
    </init-param>
  </servlet>

  <servlet-mapping>
        <servlet-name>vaadin-spring</servlet-name>
        <url-pattern>/vaadin/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>vaadin-spring</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
  
  <!-- spring -->
  <servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>spring.profiles.active</param-name>
			<param-value>local</param-value>
		</init-param>
  </servlet>
  <servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
  
</web-app>